<div class="m-4 max-w-lg max-h-sm text-xs">
  <div class="border-2 p-2 hover:bg-gray-50">
    <a href="<%= parser.link %>" target="_blank" class="no-underline">
      <div>
        <div class="flex items-center">
          <div class="h-4 w-4 bg-contain bg-no-repeat" style="background-image: url(<%= parser.favicon%>)"></div>
          <div class="ml-2 "><%= parser.site_name || parser.title %></div>
        </div>
        <div class="m-1 text-sm font-bold"><%= parser.title %></div>
      </div>
      <div class="flex">
        <div class="m-2 max-h-16 w-4/5 overflow-hidden text-ellipsis">
          <%= parser.description %>
        </div>
        <div class="mx-4 w-1/5 bg-contain bg-no-repeat" style="background-image: url(<%= parser.og_image %>)">
        </div>
      </div>
      <div class="overflow-hidden text-ellipsis text-gray-300"><%= parser.link %></div></a
    >
  </div>
</div>